## Checking Selected datasets
For this Capstone, are selecte to be procesed two datasets from CID XXX
- Friday 02 03 2018
- Friday 16 02 2018

In [58]:
%%time
import os
import pandas as pd
import matplotlib
import numpy as np

CPU times: total: 0 ns
Wall time: 0 ns

### Loading path to dataset files.

In [3]:
DATASET_FILES_PATH = []
for path, _, file in (os.walk("./datasets/")):
    for eachFile in file:
        DATASET_FILES_PATH.append(path + eachFile)
DATASET_FILES_PATH

['./datasets/Friday-02-03-2018_TrafficForML_CICFlowMeter.csv',
 './datasets/Friday-16-02-2018_TrafficForML_CICFlowMeter.csv']

### Loading datasets to PandaData Frame

In [4]:
%%time
df_friday1 = pd.read_csv(DATASET_FILES_PATH[0])
df_friday2 = pd.read_csv(DATASET_FILES_PATH[1])

<timed exec>:2: DtypeWarning: Columns (0,1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: total: 16.6 s
Wall time: 16.7 s

### Concatenating datasets

In [5]:
df_dataset = pd.concat([df_friday1, df_friday2], axis=0, ignore_index=True)

Because two datasets was concatenated, then need to delete the row which cointain the second dataframe title

In [63]:
df_dataset.drop(df_dataset.loc[df_dataset["Label"] == "Label"].index, inplace=True)
print(df_dataset.shape)

(2094591, 80)

## Droping rows with infinite or null values

In [65]:
print(df_dataset.shape)
df_dataset[df_dataset.isnull().any(axis=1)]
df_dataset.replace([np.inf, -np.inf], np.nan)
df_dataset.dropna(inplace=True)
print(df_dataset.shape)

(2094591, 80)
(2094591, 80)

### Check Label labels

In [31]:
print(df_dataset['Label'].unique())
print(df_dataset.shape)

[0 1]
(2097149, 80)

### Changing Labels names 
To unify the labels, those malicius packages will be renamend as ones, and the normal as zeros.
- 0 - normal package
- 1 - malicius package

In [11]:
%%time
df_dataset.replace(to_replace=['Benign'], value=0, inplace=True)
df_dataset.replace(to_replace=["Bot", "DoS attacks-SlowHTTPTest", "DoS attacks-Hulk"], value=1, inplace=True)
df_dataset[df_columns[-1]].unique()

CPU times: total: 2min 59s
Wall time: 3min 1s

### Check columns datatypes

In [28]:
# Saving column names in to an array
df_columns = df_dataset.columns
df_columns

Index(['Dst Port', 'Protocol', 'Timestamp', 'Flow Duration', 'Tot Fwd Pkts',
       'Tot Bwd Pkts', 'TotLen Fwd Pkts', 'TotLen Bwd Pkts', 'Fwd Pkt Len Max',
       'Fwd Pkt Len Min', 'Fwd Pkt Len Mean', 'Fwd Pkt Len Std',
       'Bwd Pkt Len Max', 'Bwd Pkt Len Min', 'Bwd Pkt Len Mean',
       'Bwd Pkt Len Std', 'Flow Byts/s', 'Flow Pkts/s', 'Flow IAT Mean',
       'Flow IAT Std', 'Flow IAT Max', 'Flow IAT Min', 'Fwd IAT Tot',
       'Fwd IAT Mean', 'Fwd IAT Std', 'Fwd IAT Max', 'Fwd IAT Min',
       'Bwd IAT Tot', 'Bwd IAT Mean', 'Bwd IAT Std', 'Bwd IAT Max',
       'Bwd IAT Min', 'Fwd PSH Flags', 'Bwd PSH Flags', 'Fwd URG Flags',
       'Bwd URG Flags', 'Fwd Header Len', 'Bwd Header Len', 'Fwd Pkts/s',
       'Bwd Pkts/s', 'Pkt Len Min', 'Pkt Len Max', 'Pkt Len Mean',
       'Pkt Len Std', 'Pkt Len Var', 'FIN Flag Cnt', 'SYN Flag Cnt',
       'RST Flag Cnt', 'PSH Flag Cnt', 'ACK Flag Cnt', 'URG Flag Cnt',
       'CWE Flag Count', 'ECE Flag Cnt', 'Down/Up Ratio', 'Pkt Size Avg',
       'Fwd Seg Size Avg', 'Bwd Seg Size Avg', 'Fwd Byts/b Avg',
       'Fwd Pkts/b Avg', 'Fwd Blk Rate Avg', 'Bwd Byts/b Avg',
       'Bwd Pkts/b Avg', 'Bwd Blk Rate Avg', 'Subflow Fwd Pkts',
       'Subflow Fwd Byts', 'Subflow Bwd Pkts', 'Subflow Bwd Byts',
       'Init Fwd Win Byts', 'Init Bwd Win Byts', 'Fwd Act Data Pkts',
       'Fwd Seg Size Min', 'Active Mean', 'Active Std', 'Active Max',
       'Active Min', 'Idle Mean', 'Idle Std', 'Idle Max', 'Idle Min', 'Label'],
      dtype='object')

In [29]:
print(" N      Column name")
print("------------------")
for count, name in enumerate(df_dataset.columns):
    print(f'{(count + 1):>3}', ' | ', name)

 N      Column name
------------------
  1  |  Dst Port
  2  |  Protocol
  3  |  Timestamp
  4  |  Flow Duration
  5  |  Tot Fwd Pkts
  6  |  Tot Bwd Pkts
  7  |  TotLen Fwd Pkts
  8  |  TotLen Bwd Pkts
  9  |  Fwd Pkt Len Max
 10  |  Fwd Pkt Len Min
 11  |  Fwd Pkt Len Mean
 12  |  Fwd Pkt Len Std
 13  |  Bwd Pkt Len Max
 14  |  Bwd Pkt Len Min
 15  |  Bwd Pkt Len Mean
 16  |  Bwd Pkt Len Std
 17  |  Flow Byts/s
 18  |  Flow Pkts/s
 19  |  Flow IAT Mean
 20  |  Flow IAT Std
 21  |  Flow IAT Max
 22  |  Flow IAT Min
 23  |  Fwd IAT Tot
 24  |  Fwd IAT Mean
 25  |  Fwd IAT Std
 26  |  Fwd IAT Max
 27  |  Fwd IAT Min
 28  |  Bwd IAT Tot
 29  |  Bwd IAT Mean
 30  |  Bwd IAT Std
 31  |  Bwd IAT Max
 32  |  Bwd IAT Min
 33  |  Fwd PSH Flags
 34  |  Bwd PSH Flags
 35  |  Fwd URG Flags
 36  |  Bwd URG Flags
 37  |  Fwd Header Len
 38  |  Bwd Header Len
 39  |  Fwd Pkts/s
 40  |  Bwd Pkts/s
 41  |  Pkt Len Min
 42  |  Pkt Len Max
 43  |  Pkt Len Mean
 44  |  Pkt Len Std
 45  |  Pkt Len Var
 46  |  FIN Flag Cnt
 47  |  SYN Flag Cnt
 48  |  RST Flag Cnt
 49  |  PSH Flag Cnt
 50  |  ACK Flag Cnt
 51  |  URG Flag Cnt
 52  |  CWE Flag Count
 53  |  ECE Flag Cnt
 54  |  Down/Up Ratio
 55  |  Pkt Size Avg
 56  |  Fwd Seg Size Avg
 57  |  Bwd Seg Size Avg
 58  |  Fwd Byts/b Avg
 59  |  Fwd Pkts/b Avg
 60  |  Fwd Blk Rate Avg
 61  |  Bwd Byts/b Avg
 62  |  Bwd Pkts/b Avg
 63  |  Bwd Blk Rate Avg
 64  |  Subflow Fwd Pkts
 65  |  Subflow Fwd Byts
 66  |  Subflow Bwd Pkts
 67  |  Subflow Bwd Byts
 68  |  Init Fwd Win Byts
 69  |  Init Bwd Win Byts
 70  |  Fwd Act Data Pkts
 71  |  Fwd Seg Size Min
 72  |  Active Mean
 73  |  Active Std
 74  |  Active Max
 75  |  Active Min
 76  |  Idle Mean
 77  |  Idle Std
 78  |  Idle Max
 79  |  Idle Min
 80  |  Label

array([0, 1], dtype=object)

### Check Columns data types

In [37]:
df_dataset.describe()

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
count,2097149,2097149,2097149,2097149,2097149,2097149,2097149,2097149.0,2097149,2097149,...,2097149,2097149.0,2097149.0,2097149.0,2097149.0,2097149.0,2097149.0,2097149.0,2097149.0,2097149
unique,42607,6,34602,836848,772,1080,6290,18367.0,1442,188,...,14,77920.0,56271.0,75416.0,47821.0,78250.0,58021.0,57011.0,82137.0,2
top,80,6,16/02/2018 01:45:28,2,2,0,0,0.0,0,0,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
freq,572066,1872742,8403,59227,706768,755480,908821,957981.0,908821,1882230,...,906718,2003749.0,2031004.0,2003749.0,2003749.0,1914407.0,2021973.0,1914407.0,1914407.0,1209156

In [38]:
df_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2097149 entries, 0 to 2097149
Data columns (total 80 columns):
 #   Column             Dtype
---  ------             -----
 0   Dst Port           object
 1   Protocol           object
 2   Timestamp          object
 3   Flow Duration      object
 4   Tot Fwd Pkts       object
 5   Tot Bwd Pkts       object
 6   TotLen Fwd Pkts    object
 7   TotLen Bwd Pkts    object
 8   Fwd Pkt Len Max    object
 9   Fwd Pkt Len Min    object
 10  Fwd Pkt Len Mean   object
 11  Fwd Pkt Len Std    object
 12  Bwd Pkt Len Max    object
 13  Bwd Pkt Len Min    object
 14  Bwd Pkt Len Mean   object
 15  Bwd Pkt Len Std    object
 16  Flow Byts/s        object
 17  Flow Pkts/s        object
 18  Flow IAT Mean      object
 19  Flow IAT Std       object
 20  Flow IAT Max       object
 21  Flow IAT Min       object
 22  Fwd IAT Tot        object
 23  Fwd IAT Mean       object
 24  Fwd IAT Std        object
 25  Fwd IAT Max        object
 26  Fwd IAT Min        object
 27  Bwd IAT Tot        object
 28  Bwd IAT Mean       object
 29  Bwd IAT Std        object
 30  Bwd IAT Max        object
 31  Bwd IAT Min        object
 32  Fwd PSH Flags      object
 33  Bwd PSH Flags      object
 34  Fwd URG Flags      object
 35  Bwd URG Flags      object
 36  Fwd Header Len     object
 37  Bwd Header Len     object
 38  Fwd Pkts/s         object
 39  Bwd Pkts/s         object
 40  Pkt Len Min        object
 41  Pkt Len Max        object
 42  Pkt Len Mean       object
 43  Pkt Len Std        object
 44  Pkt Len Var        object
 45  FIN Flag Cnt       object
 46  SYN Flag Cnt       object
 47  RST Flag Cnt       object
 48  PSH Flag Cnt       object
 49  ACK Flag Cnt       object
 50  URG Flag Cnt       object
 51  CWE Flag Count     object
 52  ECE Flag Cnt       object
 53  Down/Up Ratio      object
 54  Pkt Size Avg       object
 55  Fwd Seg Size Avg   object
 56  Bwd Seg Size Avg   object
 57  Fwd Byts/b Avg     object
 58  Fwd Pkts/b Avg     object
 59  Fwd Blk Rate Avg   object
 60  Bwd Byts/b Avg     object
 61  Bwd Pkts/b Avg     object
 62  Bwd Blk Rate Avg   object
 63  Subflow Fwd Pkts   object
 64  Subflow Fwd Byts   object
 65  Subflow Bwd Pkts   object
 66  Subflow Bwd Byts   object
 67  Init Fwd Win Byts  object
 68  Init Bwd Win Byts  object
 69  Fwd Act Data Pkts  object
 70  Fwd Seg Size Min   object
 71  Active Mean        object
 72  Active Std         object
 73  Active Max         object
 74  Active Min         object
 75  Idle Mean          object
 76  Idle Std           object
 77  Idle Max           object
 78  Idle Min           object
 79  Label              object
dtypes: object(80)
memory usage: 1.3+ GB